* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1, h2{
    font-weight: normal;
}

h2 {
    margin: 2%;    
}

#content>img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#content {
    height: 300px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content div {
    align-content: center;
}

#hello {
    font-size: 25px;
    font-weight: normal;
}

#name {
    font-size: 30px;
    font-weight: normal;
}

#role {
    font-size: 35px;
    font-weight: normal;
}

#linkedin, #github {
    background-color: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

button > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}