* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
}

.top-bar {
    height: 15vh;
    padding-top: 20px;
    font-size: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.logo * {
    font-size: 110%;
}

.top-bar * {
    color: black;
}

a {
    text-decoration: none;
}

.menu {
    width: 50%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.container .main {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > img {
    height: 300px;
    width: auto;
    border-radius: 50%;
}

.container .data {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello {
    font-size: 150%;
    font-weight: 300;
}

.name {
    font-size: 200%;
    font-weight: 600;
}

.role {
    font-size: 250%;
    font-weight: 400;
    opacity: 0.5;
}

.rbtn {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.lbtn {
    background-color: white;
    display: flex;
}

.lbtn img {
    height: 40px;
    border-radius: 50%;
}

.lbtn button {
    display: none;
}
